In [3]:
#import libraries
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

In [4]:
# Load .env enviroment variables
load_dotenv()

True

In [8]:
import json

In [22]:
# Meme stock API URLs
#Gamestop
my_gme = 0
headers = json.loads(open("keys.txt", 'r').read())
def hist_data(symbols, timeframe="15Min", limit=200, start="", end="", after="", until=""):
    df_data = {}
    bar_url = "https://data.alpaca.markets/v1" + f"/bars/{timeframe}"
    params = {"symbols":symbols,
             "limit":limit,
             "start":start,
             "end":end,
             "after":after,
             "until":until}
    r = requests.get(bar_url, headers=headers, params=params)
    json_dump = r.json()
    for symbol in json_dump:
        temp_df = pd.DataFrame(json_dump[symbol])
        temp_df.rename({"t":"time", "o":"open", "h":"high","l":"low","c":"close","v":"volume"}, axis=1, inplace=True)
        temp_df['time'] = pd.to_datetime(temp_df['time'], unit="s")
        temp_df.set_index("time",inplace=True)
        temp_df.index = temp_df.index.tz_localize("UTC").tz_convert("America/Indiana/Petersburg")
        df_data[symbol] = temp_df
    return df_data

df = hist_data('GME,AAPL')['GME']
df

                             open    high     low   close  volume
time
2021-07-30 11:45:00-04:00  161.67  162.13  161.60  161.60    2161
2021-07-30 12:00:00-04:00  161.33  161.43  160.85  160.85     901
2021-07-30 12:15:00-04:00  160.75  160.75  160.21  160.45     840
2021-07-30 12:30:00-04:00  160.92  160.92  160.29  160.54    1771
2021-07-30 12:45:00-04:00  160.59  160.59  160.09  160.36     660
...                           ...     ...     ...     ...     ...
2021-08-10 14:45:00-04:00  156.79  156.98  156.03  156.92    1611
2021-08-10 15:00:00-04:00  156.64  156.84  156.64  156.84     599
2021-08-10 15:15:00-04:00  158.00  158.00  157.65  157.67     609
2021-08-10 15:30:00-04:00  158.94  159.75  158.86  159.75    1234
2021-08-10 15:45:00-04:00  159.62  159.69  158.85  159.11    2718

[200 rows x 5 columns]

In [20]:
title = 'Close Price History    '
my_stocks = df

In [23]:
#Create and plot the graph

plt.figure(figsize=(12.2,4.5)) #width = 12.2in, height = 4.5
plt.plot( my_stocks['close'],  label='close')#plt.plot( X-Axis , Y-Axis, line_width, alpha_for_blending,  label)
plt.xticks(rotation=45) 
plt.title(title)
plt.xlabel('Date',fontsize=18)
plt.ylabel('Price USD ($)',fontsize=18)
plt.show()

NameError: name 'plt' is not defined

In [31]:
#import json

In [18]:
#output btc_json

{
    "data": {},
    "metadata": {
        "timestamp": 1628351944,
        "num_cryptocurrencies": 3105,
        "error": "unknown id"
    }
}